[
  {rabbitmq_email, [
      %% gen_smtp server parameters
      %% see https://github.com/Vagabond/gen_smtp#server-example
      {server_config, [
          [{port, 2525}, {protocol, tcp}, {domain, "#EMAIL_DOMAIN#"}, {address,{0,0,0,0}}]
      ]},
      %% how clients are authenticated; either 'false' or 'rabbitmq' (default)
      {server_auth, false},
      %% whether STARTTLS shall be offered; either 'true' or 'false' (default)
      {server_starttls, false},

      %% maps inbound email domains to vhosts and exchanges: [{email-domain, {vhost, exchange}}, ...}
      {email_domains,
          [{<<"#EMAIL_DOMAIN#">>, {<<"/">>, <<"email-in">>}}
      ]},

      %% outbound email queues: [{{vhost, queue}, email-domain}, ...]
      {email_queues,
          [{{<<"/">>, <<"email-out">>}, <<"#EMAIL_DOMAIN#">>}
      ]},
      %% sender indicated in the From header
      {email_from, <<"noreply">>},
      %% sender indicated in the SMTP from
      {client_sender, "rabbitmq@#HOST#"},
      %% gen_smtp client parameters
      %% see https://github.com/Vagabond/gen_smtp#client-example
      {client_config, [
          {relay, "#EMAIL_RELAY_HOST#"}
      ]}
  ]}
].